//====================================================================================================
.breadcrumbs {
    margin-bottom: 25px;
    // .breadcrumbs__inner
    &__inner {
    }
    // .breadcrumbs__list
    &__list {
        display: flex;
    }
    // .breadcrumbs__item
    &__item {
        margin-right: 14px;
        padding-right: 20px;
        position: relative;
        font-size: 16px;
        color: #979797;
        &::after {
            content: url("../img/breadcrumbs_arrow.png");
            position: absolute;
            top: 0;
            right: 0;
        }
        &:last-child::after {
            display: none;
        }
    }
    // .breadcrumbs__link
    &__link {
        font-size: 16px;
        color: #000000;
    }
}

//====================================================================================================
.product {
    margin-bottom: 30px;
    // .product__inner
    &__inner {
        background-color: #fff;
        padding: 37px 30px 44px 30px;
    }
    // .product__top
    &__top {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
    }
    // .product__title
    &__title {
        font-size: 30px;
    }
    // .product__icons
    &__icons {
    }
    // .product__icon
    &__icon {
        margin-left: 18px;
        // .product__icon_share
        &_share {
            &:hover {
                fill: red;
            }
        }
        // .product__icon_comparison
        &_comparison {
        }
        // .product__icon_favorites
        &_favorites {
        }
    }
    a svg:hover #share {
        fill: #6a3df7;
    }
    // .product__info
    &__info {
        display: flex;
        align-items: center;
        margin-bottom: 30px;
    }
    // .product__article
    &__article {
        font-size: 14px;
        color: #7e7e7e;
        margin-right: 35px;
    }
    // .product__rating
    &__rating {
        display: flex;
        margin-right: 12px;
    }
    // .product__rating-item
    &__rating-item {
        margin-right: 5px;
    }
    // .product__rating-item_active
    &_active {
    }
    // .product__reviews
    &__reviews {
        font-weight: 600;
        font-size: 14px;
        position: relative;
        padding-left: 20px;
        &::before {
            content: url("../img/product/reviews.svg");
            position: absolute;
            top: 0;
            left: 0;
        }
    }
    // .product__body
    &__body {
        display: grid;
        grid-template-columns: 1fr 390px 1fr;
    }

    // .product__slider
    &__slider {
        display: flex;
    }
    .splide {
        // .splide__secondary
        &__secondary {
            width: 100px;
            height: 486px;
            display: flex;
            justify-content: center;
        }
        // .splide__track
        &__track {
            margin-top: auto;
            margin-bottom: auto;
        }
        // .splide__list-secondary
        &__list-secondary {
        }
        // .splide__list
        &__list {
        }
        // .splide__slide-secondary
        &__slide-secondary {
            width: 83px;
            height: 99px;
        }
        // .splide__slide
        &__slide {
        }
        // .splide__primary
        &__primary {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    // .product__description
    &__description {
        // padding-right: 126px;
        border-right: 1px solid #ededed;
        padding-top: 70px;
    }
    // .product__price
    &__price {
        font-weight: 600;
        font-size: 28px;
        margin-bottom: 30px;
    }
    // .product__discount
    &__discount {
        max-width: 261px;
        margin-bottom: 20px;
    }
    // .product__discount-label
    &__discount-label {
        font-size: 14px;
        color: #7e7e7e;
        margin-bottom: 7px;
    }
    // .product__discount-info
    &__discount-info {
        display: flex;
        justify-content: space-between;
    }
    // .product__discount-percent
    &__discount-percent {
        font-weight: 600;
        font-size: 14px;
        color: #fff;
        background-color: #ffc800;
        border-radius: 5px;
        padding: 0 18px;
        line-height: 23px;
    }
    // .product__discount-price
    &__discount-price {
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        color: #7e7e7e;
        padding-right: 33px;
        position: relative;
        &::after {
            content: url("../img/product/info.svg");
            position: absolute;
            top: 0;
            right: 0;
        }
    }
    // .product__add-to-cart
    &__add-to-cart {
        font-weight: 700;
        font-size: 18px;
        text-align: center;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 261px;
        height: 53px;
        background: #4517d3;
        border-radius: 5px;
        margin-bottom: 50px;
        transition: background-color 0.3s;
        &:hover {
            background-color: #ffc800;
        }
    }
    // .product__characteristics
    &__characteristics {
    }
    // .product__characteristics-item
    &__characteristics-item {
        font-size: 16px;
        color: #7e7e7e;
        margin-bottom: 10px;
        &:nth-child(3) {
            margin-bottom: 30px;
        }
        span {
            color: #000;
        }
    }
    // .product__characteristics-link
    &__characteristics-link {
        font-size: 16px;
        text-decoration: underline;
    }
    // .product__delivery
    &__delivery {
        padding-top: 120px;
        padding-left: 53px;
    }
    // .product__delivery-list
    &__delivery-list {
        padding-left: 42px;
        position: relative;
        margin-bottom: 30px;
        color: #172029;
        // .product__delivery-list_pickup
        &_pickup {
            &::before {
                content: url("../img/product/map_marker.svg");
                position: absolute;
                top: 0;
                left: 0;
            }
            a {
                text-decoration: underline;
                color: #4517d3;
            }
            span {
                text-transform: uppercase;
                color: #ff5a00;
            }
        }
        // .product__delivery-list_courier
        &_courier {
            &::before {
                content: url("../img/product/truck.svg");
                position: absolute;
                top: 0;
                left: 0;
            }
        }
    }

    // .product__delivery-item
    &__delivery-item {
        font-size: 16px;
        line-height: 20px;
        color: #172029;
        margin-top: 5px;
    }
    // .product__delivery-link
    &__delivery-link {
        margin-left: 42px;
        font-size: 16px;
        text-decoration: underline;
    }
}

//====================================================================================================
.characteristics {
    margin-bottom: 36px;
    @media (max-width: 768px) {
        margin-bottom: 30px;
    }
    // .characteristics__inner
    &__inner {
        background-color: #fff;
        padding-bottom: 35px;
        @media (max-width: 640px) {
            padding-bottom: 0;
        }
    }
    // .characteristics__header
    &__header {
    }
    // .characteristics__header-list
    &__header-list {
        display: flex;
        align-items: center;
        height: 59px;
        margin-bottom: 57px;
        @media (max-width: 1400px) {
            justify-content: space-between;
            padding-right: 120px;
            height: 50px;
            border-bottom: 1px solid #dcdcdc;
            margin-bottom: 49px;
        }
        @media (max-width: 1000px) {
            padding-right: 40px;
        }
        @media (max-width: 768px) {
            padding-right: 40px;
            height: 56px;
            margin-bottom: 35px;
        }
        @media (max-width: 640px) {
            display: none;
        }
    }
    // .characteristics__header-item
    &__header-item {
        padding: 0 74px;
        &:first-child {
            padding: 0 74px 0 34px;
            @media (max-width: 1400px) {
                padding: 0;
                padding-left: 33px;
            }
            @media (max-width: 768px) {
                padding-left: 12px;
            }
        }
        @media (max-width: 1400px) {
            padding: 0;
        }
        // .characteristics__header-item_active
        &_active {
        }
    }
    // .characteristics__header-link
    &__header-link {
        font-size: 22px;
        color: #172029;
        padding: 12px 0;
        border-bottom: 3px solid transparent;
        transition: border-bottom 0.3s;
        @media (max-width: 1400px) {
            padding: 8px 0;
        }
        @media (max-width: 768px) {
            font-size: 18px;
            padding: 13px 0;
        }
        // .characteristics__header-link_active
        &_active {
            border-bottom: 3px solid #6a3df7;
        }
        &:hover {
            border-bottom: 3px solid #6a3df7;
        }
    }
    // .characteristics__accordion
    &__accordion {
        display: none;
        @media (max-width: 640px) {
            display: block;
        }
    }
    // .characteristics__accordion-list
    &__accordion-list {
    }
    .uk-accordion > :nth-child(n + 2) {
        margin-top: 1px;
    }
    // .characteristics__accordion-title
    &__accordion-title {
        font-size: 16px;
        color: #ffffff;
        background-color: #6a3df7;
        padding: 17px 10px;
        &:hover {
            color: #ffffff;
        }
        &:focus {
            color: #fff;
        }
        &::before {
            background-image: url("../img/characteristics/arrow_down.svg");
            transition: all 0.1s;
        }
    }
    .uk-open > .characteristics__accordion-title::before {
        background-image: url("../img/characteristics/arrow_down.svg");
        transform: rotate(180deg);
        transition: all 0.1s;
    }
    .uk-accordion-content {
        display: flow-root;
        margin-top: 25px;
    }
    // .characteristics__info
    &__info {
        @media (max-width: 640px) {
            display: none;
        }
    }
    // .characteristics__title
    &__title {
        font-weight: 600;
        font-size: 18px;
        color: #172029;
        margin-left: 34px;
        margin-bottom: 30px;
        @media (max-width: 768px) {
            margin-left: 15px;
        }
        @media (max-width: 640px) {
            font-weight: 400;
        }
    }
    // .characteristics__list
    &__list {
        margin-left: 34px;
        margin-bottom: 40px;
        display: block;
        max-width: 1100px;
        @media (max-width: 768px) {
            margin-left: 15px;
            margin-right: 15px;
            margin-bottom: 20px;
        }
        @media (max-width: 640px) {
            margin-bottom: 15px;
        }
    }
    // .characteristics__item
    &__item {
        display: block;
        font-size: 16px;
        color: #172029;
        margin-bottom: 30px;
        @media (max-width: 640px) {
            font-size: 14px;
            margin-bottom: 15px;
        }
        &:last-child {
            margin-bottom: 0;
        }
    }
    // .characteristics__item-left
    &__item-left {
        margin-right: -50%;
        width: 49%;
        vertical-align: top;
        overflow: hidden;
        display: inline-block;
        &::after {
            content: "";
            display: inline-block;
            width: 100%;
            margin: 0 -99% 0 17px;
            vertical-align: baseline;
            border-bottom: 1px dashed #d1d1d1;
        }
        @media (max-width: 410px) {
            margin-right: -54%;
        }
    }
    // .characteristics__item-right
    &__item-right {
        display: inline-block;
        letter-spacing: normal;
        padding-left: 12px;
        margin-left: 50%;
        width: 50%;
        vertical-align: bottom;
        @media (max-width: 410px) {
            margin-left: 53%;
        }
    }
    // .characteristics__footer
    &__footer {
        margin-left: 34px;
        font-size: 16px;
        color: #7e7e7e;
        @media (max-width: 768px) {
            margin-left: 15px;
        }
        @media (max-width: 640px) {
            margin-bottom: 25px;
        }
    }
}
//====================================================================================================
.recommendations {
    margin-bottom: 35px;
    // .recommendations__inner
    &__inner {
        background-color: #fff;
        padding-top: 30px;
        @media (max-width: 640px) {
            padding-top: 25px;
        }
    }
    // .recommendations__title
    &__title {
        font-size: 30px;
        margin-left: 30px;
        margin-bottom: 27px;
        padding-right: 60px;
        position: relative;
        display: inline-block;
        @media (max-width: 991px) {
            font-size: 24px;
            padding-right: 50px;
        }
        @media (max-width: 640px) {
            font-weight: 600;
            font-size: 20px;
            margin-left: 15px;
        }
        &::after {
            content: url("../img/recommendations/arrow.svg");
            position: absolute;
            top: -4px;
            right: 0;
            @media (max-width: 991px) {
                scale: 0.7;
                top: -8px;
            }
            @media (max-width: 640px) {
                top: -11px;
            }
        }
    }
    // .recommendations__items
    &__items {
        display: flex;
        justify-content: space-between;
        @media (max-width: 1130px) {
            padding: 0 10px;
        }
    }
    // .recommendations__item
    &__item {
        @media (max-width: 1400px) {
            &:nth-child(5) {
                display: none;
            }
        }
        @media (max-width: 1130px) {
            &:nth-child(4) {
                display: none;
            }
        }
        @media (max-width: 740px) {
            &:nth-child(3) {
                display: none;
            }
        }
        @media (max-width: 640px) {
            &:nth-child(3) {
                display: block;
            }
        }
        @media (max-width: 500px) {
            &:nth-child(3) {
                display: none;
            }
        }
    }
}
.product-item {
    border: 1px solid #ededed;
    width: 304px;
    background-color: #fff;
    position: relative;
    padding-bottom: 20px;
    @media (max-width: 640px) {
        border: none;
        max-width: 150px;
    }
    // .product-item__article
    &__article {
        font-size: 14px;
        color: #7e7e7e;
        position: absolute;
        top: 22px;
        left: 21px;
        @media (max-width: 991px) {
            left: 15px;
        }
        @media (max-width: 640px) {
            display: none;
        }
    }
    // .product-item__icons
    &__icons {
        display: flex;
        flex-direction: column;
        position: absolute;
        right: 16px;
        top: 12px;
        @media (max-width: 991px) {
            right: 6px;
        }
        @media (max-width: 640px) {
            display: none;
        }
    }
    // .product-item__icon
    &__icon {
        margin-bottom: 15px;
    }
    // .product-item__image
    &__image {
        display: flex;
        margin-top: 56px;
        margin-bottom: 32px;
        justify-content: center;
        align-items: center;
        @media (max-width: 640px) {
            margin-bottom: 15px;
            margin-top: 16px;
        }
        img {
            @media (max-width: 640px) {
                width: 120px;
                height: 120px;
            }
        }
    }
    // .product-item__review
    &__review {
        display: flex;
        align-items: center;
        margin-left: 14px;
        margin-bottom: 20px;
        @media (max-width: 640px) {
            margin-bottom: 15px;
        }
    }
    // .product-item__rating
    &__rating {
        display: flex;
        margin-right: 14px;
        @media (max-width: 640px) {
            margin-right: 0;
        }
    }
    // .product-item__star
    &__star {
        margin-right: 6px;
        @media (max-width: 640px) {
            display: none;
            &:nth-child(1) {
                display: block;
                position: relative;
                padding-right: 12px;
                display: flex;
                align-items: center;
                img {
                    width: 13px;
                    margin-right: 10px;
                }
            }
        }
        span {
            display: none;
            font-weight: 600;
            font-size: 12px;
            @media (max-width: 640px) {
                display: block;
            }
        }
        // .product-item__star_active
        &_active {
        }
    }
    // .product-item__comments
    &__comments {
        font-weight: 600;
        font-size: 14px;
        padding-left: 20px;
        position: relative;
        @media (max-width: 640px) {
            font-size: 12px;
        }
        &::before {
            content: "";
            background-image: url("../img/product_item/comment.svg");
            position: absolute;
            background-position: left center;
            background-repeat: no-repeat;
            background-size: contain;
            left: 0;
            width: 14px;
            height: 14px;
            @media (max-width: 640px) {
                width: 12px;
                height: 12px;
            }
        }
    }
    // .product-item__group
    &__group {
        font-size: 14px;
        color: #7e7e7e;
        margin-left: 18px;
        margin-bottom: 10px;
        @media (max-width: 640px) {
            font-size: 12px;
            margin-bottom: 15px;
        }
    }
    // .product-item__name
    &__name {
        font-size: 16px;
        line-height: 19 / 16 * 100%;
        margin-left: 18px;
        margin-right: 12px;
        height: 60px;
        @media (max-width: 991px) {
            font-size: 12px;
        }
        @media (max-width: 640px) {
            display: none;
        }
    }
    // .product-item__cart
    &__cart {
        display: flex;
        justify-content: space-between;
        border-top: 1px solid #ededed;
        border-bottom: 1px solid #ededed;
        padding: 15px 0;
        margin-left: 20px;
        margin-right: 12px;
        margin-bottom: 17px;
        @media (max-width: 991px) {
            margin-left: 14px;
        }
        @media (max-width: 640px) {
            padding: 8px 0;
            margin-bottom: 19px;
        }
    }
    // .product-item__price
    &__price {
        font-weight: 600;
        font-size: 28px;
        line-height: 40px;
        @media (max-width: 991px) {
            font-size: 24px;
        }
        @media (max-width: 640px) {
            font-size: 16px;
            line-height: 18px;
        }
    }
    // .product-item__add-to-cart
    &__add-to-cart {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 128px;
        height: 40px;
        background: #6a3df7;
        border-radius: 5px;
        font-size: 14px;
        color: #ffffff;
        transition: background-color 0.3s;
        &:hover {
            background-color: #ffc800;
        }
        @media (max-width: 991px) {
            width: 94px;
        }
        @media (max-width: 640px) {
            display: none;
        }
    }
    // .product-item__cart-icon
    &__cart-icon {
        display: none;
        @media (max-width: 640px) {
            display: block;
        }
    }
    // .product-item__discount
    &__discount {
        margin-left: 20px;
        margin-right: 16px;
        @media (max-width: 991px) {
            margin-left: 14px;
        }
    }
    // .product-item__discount-label
    &__discount-label {
        font-size: 14px;
        color: #7e7e7e;
        margin-bottom: 6px;
        @media (max-width: 640px) {
            text-align: center;
            font-size: 12px;
            margin-bottom: 5px;
        }
    }
    // .product-item__discount-info
    &__discount-info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media (max-width: 640px) {
            flex-direction: column;
        }
    }
    // .product-item__discount-percent
    &__discount-percent {
        width: 118px;
        height: 23px;
        background-color: #ffc800;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 600;
        font-size: 14px;
        color: #fff;
        @media (max-width: 991px) {
            font-size: 12px;
            width: 109px;
            margin-bottom: 8px;
        }
    }
    // .product-item__discount-price
    &__discount-price {
        font-weight: 600;
        font-size: 20px;
        color: #7e7e7e;
        padding-right: 34px;
        position: relative;
        @media (max-width: 991px) {
            font-size: 14px;
            padding-right: 24px;
        }
        @media (max-width: 640px) {
            font-size: 12px;
        }
        &::after {
            content: "";
            position: absolute;
            background-image: url("../img/product_item/info.svg");
            background-repeat: no-repeat;
            background-size: contain;
            right: 0;
            width: 20px;
            height: 20px;
            @media (max-width: 991px) {
                width: 14px;
                height: 14px;
            }
            @media (max-width: 640px) {
                width: 12px;
                height: 12px;
            }
        }
    }
}

//====================================================================================================
.viewed {
    background-color: #ff5a00;
    height: 165px;
    padding-top: 27px;
    margin-bottom: 490px;
    @media (max-width: 800px) {
        margin-bottom: 500px;
    }
    @media (max-width: 768px) {
        height: 130px;
        margin-bottom: 530px;
    }
    @media (max-width: 740px) {
        margin-bottom: 520px;
    }
    @media (max-width: 640px) {
        margin-bottom: 330px;
    }
    // .viewed__inner
    &__inner {
    }
    // .viewed__title
    &__title {
        font-size: 30px;
        color: #fff;
        margin-bottom: 27px;
        margin-left: 32px;
        padding-right: 70px;
        position: relative;
        display: inline-block;
        @media (max-width: 768px) {
            font-weight: 600;
            font-size: 24px;
            padding-right: 50px;
            margin-left: 0;
        }
        &::after {
            content: "";
            position: absolute;
            background-image: url("../img/viewed/arrow.svg");
            background-size: contain;
            width: 40px;
            height: 40px;
            right: 0;
            top: -6px;
            @media (max-width: 768px) {
                width: 30px;
                height: 30px;
                top: -1px;
            }
        }
    }
    // .viewed__items
    &__items {
        display: flex;
        justify-content: space-between;
        background-color: #fff;
    }
}
//====================================================================================================
.advantages {
    margin-bottom: 35px;
    // .advantages__inner
    &__inner {
        background-color: #fff;
        padding-top: 34px;
        padding-bottom: 44px;
        @media (max-width: 1400px) {
            padding: 71px 28px;
        }
        @media (max-width: 1200px) {
            padding: 50px 15px;
        }
        @media (max-width: 640px) {
            padding: 35px 15px;
        }
    }
    // .advantages__items
    &__items {
        display: flex;
        flex-basis: 253px;
        @media (max-width: 1400px) {
            display: block;
        }
        @media (max-width: 640px) {
            display: none;
        }
    }
    // .advantages__items-row
    &__items-row {
        display: flex;
        @media (max-width: 1400px) {
            justify-content: center;
            margin-bottom: 40px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    // .advantages__item
    &__item {
        border-right: 1px solid #d9d9d9;
        padding-top: 37px;
        padding-bottom: 37px;
        padding-left: 29px;
        @media (max-width: 1400px) {
            border-right: none;
            max-width: 342px;
            padding: 0;
            margin-right: 15px;
            margin-left: 15px;
        }
        @media (max-width: 1200px) {
            max-width: 232px;
        }
        @media (max-width: 768px) {
            margin-right: 7px;
            margin-left: 7px;
        }
        @media (max-width: 640px) {
            max-width: 270px;
        }
    }
    // .advantages__icon
    &__icon {
        margin-bottom: 22px;
        margin: 0 auto;
        margin-bottom: 22px;
        display: flex;
        justify-content: center;
        @media (max-width: 640px) {
            margin-bottom: 20px;
        }
        img {
            @media (max-width: 1200px) {
                width: 50px;
                height: 50px;
            }
        }
    }
    // .advantages__title
    &__title {
        font-weight: 500;
        font-size: 20px;
        margin-bottom: 25px;
        @media (max-width: 1400px) {
            text-align: center;
        }
        @media (max-width: 1200px) {
            font-size: 16px;
            margin-bottom: 15px;
        }
    }
    // .advantages__text
    &__text {
        font-size: 16px;
        line-height: 19 / 16 * 100%;
        @media (max-width: 1400px) {
            text-align: center;
        }
        @media (max-width: 1200px) {
            font-size: 14px;
        }
        @media (max-width: 640px) {
            font-size: 12px;
        }
    }
    // .advantages__slider
    &__slider {
        display: none;
        @media (max-width: 640px) {
            display: block;
        }
    }
    // .advantages__slider-list
    &__slider-list {
    }
    // .advantages__slider-item
    &__slider-item {
        display: flex;
        justify-content: center;
    }
    // .advantages__slider-arrow-left
    &__slider-arrow-left {
        margin-right: 4px;
    }
    // .advantages__slider-arrow-right
    &__slider-arrow-right {
        margin-left: 4px;
    }
    .uk-slider-items:not(.uk-grid) {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin: 0;
        margin-bottom: 40px;
        padding: 0;
        list-style: none;
        -webkit-touch-callout: none;
    }
}

//====================================================================================================
